.card-header {
  height: 100px;
  width: 100vw;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  border-bottom-left-radius: 40px;

  .card-header-details {
    display: flex;
    padding: 20px;

    .card-header-image {
      height: 40px;
      width: 40px;
      border-radius: 40px;
    }

    .card-header-name {
      padding: 10px;
      color: white;
    }
  }
}

.content {
  padding: 20px;
  position: relative;
  top: -40px;

  .profile-details {
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    color: black;
    margin-bottom: 10px;

    .profile-pic {
      height: 40px;
      width: 40px;
      border-radius: 40px;
    }

    .profile {
      padding: 5px 10px;

      .profile-name {
        font-size: 13px;
      }

      .profile-location {
        font-size: 12px;
        color: gray;
      }
    }
  }

  .card-bg {
    background: rgb(244, 247, 252);
    background: linear-gradient(179deg, rgba(181, 29, 157, 1) 23%, rgba(109, 20, 206, 1) 100%);
  }

  .card {
    border-radius: 20px;
    padding: 20px;
    color: white;

    .approve-icon {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 40px;
      font-size: 30px;
    }

    .card-header-name {
      padding-bottom: 10px;
    }

    .card-content {
      display: flex;

      .pecentage {
        font-size: 50px;
        font-weight: 600;
      }

      .approval-details {
        padding: 10px 20px;
      }
    }

    .card-footer {

      display: flex;
      justify-content: space-between;

      .footer-value {
        font-size: 30px;
      }

      .footer-button {
        background: white;
        color: black;
        position: relative;
        padding: 10px 20px;
        height: 40px;
        border-radius: 20px;
        top: 20px;
        cursor: pointer;
      }
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  color: black;
  height: 100vh;

  .popup-container {
    background: white;
    padding: 20px;
    margin: 40px;
    border-radius: 30px;
  }

  .popup-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  .statusGreen {
    position: absolute;
    right: 0;
    color: green;
  }
}

.cancel-btn {
  background-color: #444859;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.activate-btn {
  background-color: #5DDCC3;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
